# gpsd config file for uncrustidy
#
# usage, to see what would change::
#  uncrustify -c uncrustify.cfg -l c  < $FILE | diff $FILE -
#
# to change file in place:
#  uncrustify -c uncrustify.cfg --replace --nobackup $FILE

# This file is Copyright by the GPSD project
# SPDX-License-Identifier: BSD-2-clause


# ---- shared, style-neutral settings ----
indent_columns      = 4
indent_with_tabs    = 0
indent_braces       = false   # braces at the statement's level
indent_class        = true
indent_access_spec  = -2
indent_cpp_lambda_only_once = true
sp_paren_brace      = force   # ")" "{"
sp_fparen_brace     = force   # ")" "{" of a function
sp_sparen_brace     = force   # ")" "{" of if/for/while/switch
sp_brace_else       = force   # "} else" when on same line
sp_else_brace       = force   # "else {" when on same line
sp_brace_catch      = force
sp_catch_brace      = force
nl_after_brace_open = true
nl_after_semicolon  = true
nl_after_case       = true
nl_else_if          = remove  # keep "else if" together
nl_end_of_file      = force
nl_end_of_file_min  = 1

# ---- 1TBS ----
# Functions: brace on its own line (K&R / Linux-kernel 1TBS)
nl_fdef_brace       = force
nl_fdef_brace_cond  = force
# Types / namespaces: attached
nl_class_brace      = remove
nl_struct_brace     = remove
nl_enum_brace       = remove
nl_namespace_brace  = remove
# Conditionals: attached, cuddled else/catch
nl_if_brace         = remove
nl_elseif_brace     = remove
nl_else_brace       = remove
nl_brace_else       = remove   # "} else {"
nl_switch_brace     = remove
nl_case_colon_brace = remove
nl_try_brace        = remove
nl_catch_brace      = remove
nl_brace_catch      = remove   # "} catch (...) {"
# Loops: attached, "} while (x);"
nl_for_brace        = remove
nl_while_brace      = remove
nl_do_brace         = remove
nl_brace_while      = remove
# The "one true" rule: braces are mandatory
mod_full_brace_do = add
mod_full_brace_for = add
mod_full_brace_if = add
mod_full_brace_while = add
nl_assign_leave_one_liners = true
nl_brace_finally = remove
nl_cpp_lambda_leave_one_liners = true
nl_do_leave_one_liners    = false
nl_finally_brace = remove
nl_for_leave_one_liners   = false
nl_func_leave_one_liners  = false
nl_if_leave_one_liners    = false
nl_while_leave_one_liners = false

cmt_trailing_single_line_c_to_cpp = true
pos_bool = trail_force
sp_arith_additive = force
sp_arith = force
sp_assign_default = force
sp_assign = force
sp_before_ptr_star = force
sp_enum_assign = force
sp_compare = force
